In [1]:
def add(a,b):
    return a+b

In [2]:
result = add(2,4)

In [3]:
result

6

In [4]:
result=add(a=5,b=7)

In [5]:
result

12

In [14]:
def add_many(*args):
    result=0
    print(type(args))
    for i in args:
        print(i)
    return result

In [15]:
print(add_many(1,2,3,4,5,6,7,8,9,10))

<class 'tuple'>
1
2
3
4
5
6
7
8
9
10
0

In [16]:
c=add_many(1,2,3,4,5,6,7,8)

<class 'tuple'>
1
2
3
4
5
6
7
8

In [17]:
c

0

In [18]:
print(add_many(1,2,3,'d'))

<class 'tuple'>
1
2
3
d
0

In [1]:
def add_mul(choice,*args):
    if choice=="add":
        result=0
        for i in args:
            result=result+i
    elif choice=="mul":
        result=1
        for i in args:
            result=result*i
    return result

In [2]:
print(add_mul('add',1,2,3,4,5,6,7,8))

36

In [3]:
print(add_mul('mul',1,2,3,4,5,6,7,8))

40320

In [4]:
def print_kwargs(**kwargs):
    print(kwargs)

In [5]:
print_kwargs(name='hong',age=34,addr="대구")

{'name': 'hong', 'age': 34, 'addr': '대구'}

In [6]:
def add_and_mul(a,b):
    return a+b,a*b

In [7]:
result = add_and_mul(3,4)

In [8]:
print(type(result))

<class 'tuple'>

In [9]:
print(result)

(7, 12)

In [26]:
def say_myself(name,old,man=True):
    print("나의 이름은 %s입니다."%name)
    print("나이는 %d살입니다."%old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
    for i in addr:
        print(i)

In [28]:
say_myself("홍길동",23)

나의 이름은 홍길동입니다.
나이는 23살입니다.
남자입니다.

NameError: name 'addr' is not defined