In [2]:
print("hello~~")

hello~~

In [3]:
a = 0o177

In [4]:
b=0xabc

In [5]:
b

2748

In [6]:
a

127

In [8]:
print(a)
print(b)

127
2748

In [9]:
7%3

1

In [10]:
7/3

2.3333333333333335

In [11]:
7//3

2

In [12]:
'hello'

'hello'

In [13]:
"hello"

'hello'

In [14]:
'''he
llo'''

'he\nllo'

In [15]:
print("hello! '안녕?'")

hello! '안녕?'

In [16]:
"hi"+"!!!!"

'hi!!!!'

In [17]:
"hi"*3

'hihihi'

In [18]:
"-"*50

'--------------------------------------------------'

In [19]:
3+"555"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
b="hello~"

In [25]:
len(b)

6

In [26]:
a="Life is too short, You need Python"

In [27]:
a[3]

'e'

In [28]:
len(a)

34

In [29]:
a[0:4]

'Life'

In [30]:
a[19:]

'You need Python'

In [31]:
a="pithon"

In [32]:
a[1]

'i'

In [33]:
a[1]='y'

TypeError: 'str' object does not support item assignment

In [34]:
a[:1]

'p'

In [35]:
a[2:]

'thon'

In [38]:
a[:1]+'y'+a[2:]

'python'

In [39]:
print("i eat %d apple"%3)

i eat 3 apple

In [51]:
print("%-10s i eat %10.2f%% apple"%('say',4.3456))

say        i eat       4.35% apple

In [78]:
say="{0:^20.2f} I eat {day} apples"

In [56]:
say.format(3)

'I eat 3 apples'

In [79]:
say.format(111.456789,day="2000/2/12")

'       111.46        I eat 2000/2/12 apples'

In [81]:
d={'name':'김민재','age':23}

In [84]:
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 김민재입니다. 나이는 23입니다.'

In [85]:
a="hobby"

In [86]:
type(a)

str

In [87]:
a.count('b')

2

In [88]:
a.count?

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

In [89]:
'shi@gmail.com'.count('@')

1

In [96]:
a="Python is the best choice"

In [93]:
a.find('b')

14

In [92]:
a.find('k')

-1

In [97]:
a.index('b')

14

In [98]:
",".join('abcd')

'a,b,c,d'

In [100]:
",".join(['a','12','e'])

'a,12,e'

In [101]:
a="hi"

In [102]:
a.upper()

'HI'

In [103]:
a="HI"

In [104]:
a.lower()

'hi'

In [109]:
a="hi"

In [107]:
a.lstrip()

'hi  '

In [110]:
a.capitalize()

'Hi'

In [111]:
a.upper()

'HI'

In [112]:
b='                  hi                          '

In [113]:
b.lstrip()

'hi                          '

In [114]:
b.rstrip()

'                  hi'

In [115]:
b.strip()

'hi'

In [117]:
a="Life is too short"

In [120]:
a=a.replace("Life","your leg")

In [121]:
a

'your leg is too short'

In [122]:
a.split()

['your', 'leg', 'is', 'too', 'short']

In [123]:
b="life,is,too,short"

In [124]:
b.split(",")

['life', 'is', 'too', 'short']

(튜플)   [리스트]  set{"값"}  dic{"키":"값"}

In [125]:
a=[]

In [127]:
b=list()

In [128]:
type(a)

list

In [129]:
type(b)

list

In [142]:
c=['life','is','too','short',1,4,["life","is",{'1':"a",'2':"b",'3':"c"}]]

In [139]:
c

['life', 'is', 'too', 'short', 1, 4, ['life', 'is', {1: 'a', 2: 'b', 3: 'c'}]]

In [132]:
type(c)

list

In [135]:
c[1]

'is'

In [143]:
c[6][2]['2']

'b'

In [144]:
c[2:4]

['too', 'short']

In [145]:
c[-2:]

[4, ['life', 'is', {'1': 'a', '2': 'b', '3': 'c'}]]

In [146]:
a=[1,2,3]

In [147]:
b=[4,5,6]

In [148]:
a+b

[1, 2, 3, 4, 5, 6]

In [149]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [150]:
len(a)

3

In [151]:
str(a[2])+"hi"

'3hi'

In [152]:
a=input("숫자를 입력하세요")

숫자를 입력하세요 45

In [153]:
a

'45'

In [154]:
type(a)

str

In [155]:
int(a)

45

In [156]:
b=int(a)

In [157]:
type(b)

int

In [158]:
c=float(a)

In [159]:
type(c)

float

In [160]:
d='q'

In [161]:
int(d)

ValueError: invalid literal for int() with base 10: 'q'

In [165]:
a.isdecimal()

True

In [166]:
a=[1,2,3]

In [167]:
a[1]=4

In [168]:
a

[1, 4, 3]

In [169]:
del a[1]

In [170]:
a

[1, 3]

In [171]:
del a

In [172]:
a

NameError: name 'a' is not defined

In [174]:
a=[1,4,3,2]

In [179]:
a.sort(reverse=True)

In [180]:
a

[4, 3, 2, 1]

In [181]:
list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _HashedSeq, StackSummary, SList, _ImmutableLineList, FormattedText, NodeList, _ExplodedList, Stack, _Accumulator, _ymd, ...

In [182]:
type(a)

list

In [183]:
a

[4, 3, 2, 1]

In [185]:
a.append(5)

In [186]:
a

[4, 3, 2, 1, 5]

In [187]:
a.insert(0,7)

In [188]:
a

[7, 4, 3, 2, 1, 5]

In [189]:
a.reverse()

In [190]:
a

[5, 1, 2, 3, 4, 7]

In [191]:
a.reverse?

Signature: a.reverse()
Docstring: Reverse *IN PLACE*.
Type:      builtin_function_or_method

In [192]:
a.index(7)

5

In [193]:
b=['b','c','y','a']

In [194]:
b.index('c')

1

In [195]:
a.remove(2)

In [196]:
a

[5, 1, 3, 4, 7]

In [197]:
a.insert(2,4)

In [198]:
a

[5, 1, 4, 3, 4, 7]

In [199]:
a.remove(4)

In [200]:
a

[5, 1, 3, 4, 7]

In [201]:
a.pop(3)

4

In [202]:
a

[5, 1, 3, 7]

In [203]:
t1=()

In [204]:
type(t1)

tuple

In [205]:
t2=(1,)

In [206]:
type(t2)

tuple

In [207]:
t4=1,2,3

In [210]:
type(t4)

tuple

In [214]:
t5=(1,2,3,4,[1,2,3,4])

In [215]:
type(t5)

tuple

In [217]:
t5[4][0]=3

In [218]:
t5

(1, 2, 3, 4, [3, 2, 3, 4])

In [223]:
dic={"a":[1,2,3],2:{1:1},3:(2,4)}

In [224]:
dic

{'a': [1, 2, 3], 2: {1: 1}, 3: (2, 4)}

In [229]:
dic[2][1]=[2,"tj"]

In [230]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'tj']}, 3: (2, 4)}

In [231]:
dic.keys()

dict_keys(['a', 2, 3])

In [232]:
dic.values()

dict_values([[1, 2, 3], {1: [2, 'tj']}, (2, 4)])

In [233]:
dic.items()

dict_items([('a', [1, 2, 3]), (2, {1: [2, 'tj']}), (3, (2, 4))])

In [237]:
for k in dic.keys():
    print(k)
    print(dic[k])

a
[1, 2, 3]
2
{1: [2, 'tj']}
3
(2, 4)

In [238]:
list1=list(dic.keys())

In [239]:
list2=dic.keys()

In [240]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'tj']}, 3: (2, 4)}

In [241]:
dic.clear()

In [242]:
dic

{}

In [243]:
dic={'a': [1, 2, 3], 2: {1: [2, 'tj']}, 3: (2, 4)}

In [244]:
dic

{'a': [1, 2, 3], 2: {1: [2, 'tj']}, 3: (2, 4)}

In [245]:
dic['a']

[1, 2, 3]

In [246]:
dic.get(1)

In [247]:
dic.get?

Signature: dic.get(key, default=None, /)
Docstring: Return the value for key if key is in the dictionary, else default.
Type:      builtin_function_or_method

In [248]:
a={'name':'홍길동'}

In [249]:
'name' in a

True

In [250]:
'email' in a

False

In [251]:
s1 = set([1,2,3,3])

In [252]:
s1

{1, 2, 3}

In [253]:
s2=set('hello')

In [254]:
s2

{'e', 'h', 'l', 'o'}

In [255]:
l1=[1,2,3,4,5,6,7]

In [256]:
l2=[4,5,6,7,8,9]

In [257]:
totli = l1+l2

In [258]:
totli

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8, 9]

In [260]:
l4=set(totli)

In [261]:
l4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [262]:
s1=set([1,2,3,4,5,6])

In [263]:
s2=set([4,5,6,7,8,9])

In [264]:
s1 & s2

{4, 5, 6}

In [265]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [266]:
s1-s2

{1, 2, 3}

In [267]:
s1

{1, 2, 3, 4, 5, 6}

In [268]:
s1.add(4)

In [269]:
s1

{1, 2, 3, 4, 5, 6}

In [270]:
s1.add(8)

In [271]:
s1

{1, 2, 3, 4, 5, 6, 8}

In [273]:
s1.update([9,10,12])

In [275]:
s1

{1, 2, 3, 4, 5, 6, 8, 9, 10, 12}

In [276]:
s1.update?

Docstring: Update a set with the union of itself and others.
Type:      builtin_function_or_method

In [277]:
s1.remove(2)

In [278]:
s1

{1, 3, 4, 5, 6, 8, 9, 10, 12}

In [279]:
1==2

False

In [280]:
a=True
b=False

In [281]:
type(a)

bool

In [284]:
a=[1,2,3]

In [285]:
while a:
    print(a.pop())

3
2
1

In [287]:
if a:
    print("참")
else:
    print("거짓")

거짓

In [304]:
a=[1,2,3]

In [305]:
id(a)

1998391109960

In [306]:
b=[4,5,6]

In [307]:
id(b)

1998391105736

In [308]:
b=a

In [309]:
a is b

True

In [310]:
a

[1, 2, 3]

In [311]:
b

[1, 2, 3]

In [314]:
a.insert(2,4)

In [315]:
b

[1, 2, 4, 3]

In [316]:
from copy import copy

In [317]:
a=[1,2,3]

In [318]:
b=copy(a)

In [319]:
id(a)

1998395471880

In [320]:
id(b)

1998391166152

In [321]:
a

[1, 2, 3]

In [322]:
b

[1, 2, 3]

In [323]:
a is b

False

In [324]:
a,b=('python','life')

In [325]:
a

'python'

In [326]:
b

'life'

In [327]:
(a,b)='python','life'

In [328]:
a

'python'

In [329]:
b

'life'

In [332]:
a=3

In [333]:
b=5

In [334]:
a,b=b,a

In [335]:
a

5

In [336]:
b

3